
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: 'Nexa';
  src: url('../src/fonts/nexa/Nexa-Heavy.ttf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  scroll-behavior: smooth;
  background-color: #d6eda1;
  overflow:scroll;
}
.GlassBg{
  backdrop-filter: blur(10px);
  border: 1px solid white;
}
table{
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
  margin: auto;
  width: 100%;
}
th{
  background-color: rgb(38, 43, 43);
  color: white;
}
th,td{
  padding: 10px 20px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.HideScrollBar::-webkit-scrollbar{
  display: none;
  scroll-behavior: smooth;
}
.BgBlur{
  backdrop-filter: blur(10px);
}
.GlassBackground{
  backdrop-filter: blur(10px);
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.285);
}
.GlassBackground2{
  backdrop-filter: blur(10px);
  /* border: 1px solid #1d076b; */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  /* background-color: #1d076b6f; */
}
.ImageColor{
  filter: invert(100%) brightness(200%);
}
.ItemText{
  font-family: 'Nexa';
}
tbody tr td{
  background-color: #ffffff;
  border: 1px solid #d6eda1;
}
.SocialMediaBackground{
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.777);
}
.inputBg{
  background-color: #d6eda1;
  border-radius: 10px;
  border: none;
  outline: none;
}

/* This class will add the border only when it's sticky */
.border-visible {
  border-bottom: 2px solid #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.2s linear;
  padding-top:10px ;
  padding-bottom: 10px;
}
.GlassBack{
  backdrop-filter: blur(20px);
}